# semana2
Accostupa Quispe Lucero

Temas:
    1.Numeros
    2.Variables
    3.Manejo de cadenas
    4.Ingreso de datos por el teclado
    5.Operadores

2. Manejo de cadenas

In [9]:
cadena="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234..................................-2-1

In [10]:
cadena[5]

'r'

In [11]:
cadena[10]

'd'

In [12]:
#tambien considera los espacios

In [7]:
cadena[11]

' '

In [13]:
#Que se mostrara?
cadena[-5]

'a'

In [14]:
cadena[21]

'T'

In [15]:
#Para mostrar una subcadena[desde, hasta una antes]

In [16]:
cadena[3:8]

'versi'

In [17]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [18]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [19]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [20]:
#Si deseo cambiar una cadena en letras minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [21]:
#Generar una lista apartir de una cadena .split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [22]:
#Generaar una lista utilizando un criterio de separacion apartir de una cadena.split()
#Vamos a generar una lista de toda la cadena, utilizando como criterio de saparacion: Letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [23]:
#Imprimir dando formato
#forma clasica "+"
# .format()
#f

In [25]:
#Forma clasica, concatenar con +
nombre="Flor Cerdan"
print("Buenos dias "+nombre)

Buenos dias Flor Cerdan

In [26]:
#Utilizando el .format()
nombre= "Pablo Lévano"
edad=18
print("hola {} ya se que tienes {} años".format(nombre,edad))

hola Pablo Lévano ya se que tienes 18 años

In [27]:
#Dar formato a numeros con muchos decimales
resultado= 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}" .format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [29]:
#Dar formato con f
nombre = "Flor Lévano"
edad=19
print(f"Buenos dias {nombre}, ya se que tienes {edad} años" )

Buenos dias Flor Lévano, ya se que tienes 19 años

In [30]:
#Dar formato a numeros con muchos decimales con f
resultado= 10/3
print(f"10/3 es = {resultado} " )
print(f"10/3 es = {resultado: 1.3f} ")

10/3 es = 3.3333333333333335
10/3 es =  3.333